.header {
    padding: 20px 20px;
    min-height: 300px;
    border-bottom-right-radius: 60px;
    background-color: #ffd8d3;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-nav-items {
    display: flex;
    gap: 10px;
}

.input-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.profile {
    width: 50px;
    border-radius: 50px;
    background-color: white;
}
