@import url(./reset.css);
@import url(./main.css);
@import url(./login.css);
@import url(./signUp.css);
@import url(./quiz.css);
@import url(./quiz-detail.css);
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'S-CoreDream-6Bold';
}